@font-face {
  font-family: "Custom Sans";
  src: url("../public/custom_sans.woff2");
}

body {
  height: 100%;
  background-color: #1f1f1f;
}

.App {
  text-align: center;
  font-family: "Custom Sans", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
