body {
  background-color: #1f1f1f;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@800&display=swap");

@font-face {
  font-family: "Custom Sans";
  src: url("../public/custom_sans.woff2");
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("../public/JetBrainsMono-Regular.woff2");
}
